<nav class="navbar navbar-expand-sm topmenu">
    <div class="topnav" id="myTopnav">
        <a href="/register" id="anchor-app-sidenav-logo">
            <!-- <img  class="white-logo img1"   src="https://pbs.twimg.com/profile_images/1012717264108318722/9lP-d2yM_400x400.jpg"> -->
            <img  class="white-logo img1"   src="https://us.123rf.com/450wm/alsstocks450/alsstocks4502002/alsstocks450200200071/139320508-voronezh-russia-january-31-2020-twitter-logo-light-blue-square-icon-with-soft-shadow.jpg?ver=6">
        </a>
        <ul class="headerItems">
            <li class="list-inline-item">
                <button class="button" (click)="Login()">LOGIN</button>
            </li>
            <li class="list-inline-item">
                <button class="button" (click)="showRegister()">REGISTER</button>
            </li>
            <li class="list-inline-item">
                <button class="button" (click)="Tweets()">TWEETS</button>
            </li>
            <li class="list-inline-item">
                <button class="button" (click)="showUsers()">ALL USERS</button>
            </li>
            <li class="list-inline-item">
                <button class="button margin" (click)="logout()">LOGOUT</button>
            </li>
        </ul>
    </div>

    <div style="padding-left:16px">

    </div>

</nav>